.navbar{
    grid-area: nav;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
    font-family: 'Poppins', sans-serif;
    background-color: #212333;
}

.navbar__text{
    text-transform: uppercase;
    color: #f1faee;
}

.navbar__info{
    display: flex;
    align-items: center;
}


/* .navbar__info input{
    font-family: 'Poppins';
    height: 40px;
    width: 100px;
    width: 0px;
    background-color: var(--background--input);
    color: var(--color--text--sidebar);
    font-weight: 700;
    border: none;
    border-radius: 5px 0 0 5px;
    padding-left: 1rem;
    outline: none;
}

.navbar__info input:hover{
    width: 100px;
} */



.navbar__info button{
    height: 40px;
    width: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--background--input);
    color: var(--color--text--sidebar);
    cursor: pointer;
    margin-right: 30px;
    -webkit-box-shadow: 10px 8px 11px -1px rgba(41,45,63,0.80);
-moz-box-shadow: 10px 8px 11px -1px rgba(41,45,63,0.80);
box-shadow: 10px 8px 11px -1px rgba(41,45,63,0.80);
}

@media only screen and (max-width: 480px){
    .navbar{
        display: flex;
        align-items: center;
        padding: 0 2rem 0 1rem;
    }

    .navbar__text i{
        padding-top: 7px;
        font-size: 30px;
    }

    .navbar__profile{
        width: 275px;
    }
    .navbar__info button{
        display: none;
    }

    .navbar__user{
        width: 170px;
        margin-left: 20px;
    }
    .navbar__icons i{
        padding: 0 0.4rem;
    }
}