:root{
  --background--sidebar: #292D3F;
  --color--text--sidebar: #525564;
  --color--text--navbar: #ffff;
  --background--button: #057BCC;
  --color--text--button: #ffff;
  --background--input: #292D3F;

  font-family: 'Poppins';
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}